<header>
    <%= msgx %>
    <h1 class="logo"><a href="index.html"><img src="images/logo_home.png" alt="KIDS CLUB"></a></h1>
    
    <aside id="mainimg">
    <img src="images/1.jpg" alt="" class="slide1">
    <img src="images/2.jpg" alt="" class="slide2">
    <img src="images/3.jpg" alt="" class="slide3">
    <img src="images/kazari1.png" alt="" class="kazari1">
    <img src="images/kazari2.png" alt="" class="kazari2">
    </aside>
    
</header>